{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "arrowParens": "always",
  "bracketSpacing": true,
  "overrides": [
    {
      "files": ["*.ts", "*.astro"],
      "options": {
        "semi": false,
        "trailingComma": "none"
      }
    }
  ]
}
