---
import * as entities from '../../lib/entities.ts'
import { snakeToKebab } from '../../lib/style-helpers.ts'
import RichText from './RichText.astro'
import NotionBlocks from '../NotionBlocks.astro'
import '../../styles/notion-color.css'

export interface Props {
  block: entities.Block
  headings: entities.Block[]
}

const { block, headings } = Astro.props
---

<ul>
  {
    block.ListItems.filter(
      (b: entities.Block) => b.Type === 'bulleted_list_item'
    ).map((b: entities.Block) => (
      <li class={snakeToKebab(b.BulletedListItem.Color)}>
        {b.BulletedListItem.RichTexts.map((richText: entities.RichText) => (
          <RichText richText={richText} />
        ))}
        {b.HasChildren && (
          <NotionBlocks
            blocks={b.BulletedListItem.Children}
            headings={headings}
          />
        )}
      </li>
    ))
  }
</ul>
