---
import * as interfaces from '../../lib/interfaces.ts'
import { isTweetURL } from '../../lib/blog-helpers.ts'
import Bookmark from './Bookmark.astro'
import TweetEmbed from './TweetEmbed.astro'

export interface Props {
  block: interfaces.Block
  urlMap: { [key: string]: string }
}

const { block, urlMap } = Astro.props

let url: URL
try {
  url = block.Embed.Url
} catch (err) {
  console.log(err)
}
---

{
  url ? (
    isTweetURL(url) ? (
      <div class="tweet-embed">
        <TweetEmbed url={url} />
      </div>
    ) : (
      <Bookmark block={block} urlMap={urlMap} />
    )
  ) : null
}

<style>
  .tweet-embed {
    width: 100%;
    max-width: 600px;
    margin: auto;
  }
  .tweet-embed div:first-child div:first-child {
    margin: auto;
  }
</style>
