---
import * as interfaces from '../../lib/notion/interfaces'
import Caption from './Caption.astro'

export interface Props {
  block: interfaces.Block
  urlMap: { [key: string]: string }
}

const { block, urlMap } = Astro.props

let image = ''
if (block.Image.External) {
  image = block.Image.External.Url
} else if (block.Image.File) {
  image = urlMap[block.Image.File.Url]
}
---

<figure class="image">
  {image && (
    <div>
      <div>
        <img
          src={image}
          alt="image block"
          />
      </div>
      <Caption richTexts={block.Image.Caption} />
    </div>
    )}
</figure>

<style>
  .image {
    display: flex;
    margin: 0 auto;
  }
  .image > div {
    margin: 0 auto;
  }
  .image > div > div {
  }
  .image > div > div > img {
    display: block;
  }
</style>
