---
import { RichText } from '../../../lib/interfaces.ts'

export interface Props {
  richText: RichText
}

const { richText } = Astro.props
---

{
  richText.Href ? (
    <a href={richText.Href}>
      <slot />
    </a>
  ) : (
    <slot />
  )
}
