


.post {
  margin: 0 auto 10px;
}
.post footer {
  margin-top: 0.5rem;
  padding: 0;
  border: 0;
}
.postContent {
  display: flex;
  align-items: flex-start;
  /* margin-bottom: 1rem; */
}

.postInfo {
  flex: 1;
  margin-left: 1rem;
}

.postMeta {
  margin-bottom: 0.5rem;
}

.postMetaInner {
  display: flex;
  align-items: center;
  gap: 1rem; /* 日付とタグの間隔を調整 */
}

.featuredImage {
  max-width: 100%;
  overflow: hidden;
}

.featuredImage img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}