
.main {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%; /* 幅を100%に設定 */
  overflow: hidden; /* はみ出しを防ぐ */
}
.main header {
  padding: 0 0 20px;
}
.main footer {
  border-top: 1px dashed #888;
  margin-top: auto;
  padding: 20px 0;
}
@media (max-width: 640px) {
  .main footer {
    margin: 0 auto 40px;
  }
}

.post {
  margin: 0 auto 40px;
}
.post footer {
  margin-top: 0.5rem;
  padding: 0;
  border: 0;
}
.postContent {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.postInfo {
  flex: 1;
  margin-left: 1rem;
}

.postMeta {
  margin-bottom: 0.5rem;
}

.postMetaInner {
  display: flex;
  align-items: center;
  gap: 1rem; /* 日付とタグの間隔を調整 */
}