.main header {
  padding: 0 0 20px;
}
.main footer {
  border-top: 1px dashed #888;
  margin: 0 auto;
  padding: 40px 0 0;
}
@media (max-width: 640px) {
  .main footer {
    margin: 0 auto 40px;
  }
}

.post {
  margin: 0 auto 40px;
}
.post footer {
  margin-top: 0.5rem;
  padding: 0;
  border: 0;
}
