---
import Layout from '../layouts/Layout.astro';
import FeaturedNav from '../components/FeaturedNav.astro';
import FeaturedStats from '../components/FeaturedStats.astro';
import Testimonial from '../components/Testimonial.astro';
---

<Layout>
	<div slot="main">
		<div class="mx-4 sm:mx-0">
			<div class="aspect-w-16 aspect-h-7 max-w-7xl mx-auto">
				<img
					class="w-full object-cover rounded-xl"
					src="/desktop.svg"
					alt="Gambar Feature aplikasi yang digunakan dalam diskusi perpajakan sharepoint teams telegram"
				/>
			</div>
			<FeaturedNav />
			<FeaturedStats />
			<Testimonial />
		</div>
	</div>
</Layout>
