---
import { NUMBER_OF_POSTS_PER_PAGE } from '../server-constants.ts'
import {
  getPosts,
  getRankedPosts,
  getAllTags,
  getNumberOfPages,
} from '../lib/notion/client.ts'
import Layout from '../layouts/Layout.astro'
import Main from '../layouts/Main.astro'
import NoContents from '../components/NoContents.astro'
import SinglePost from '../components/SinglePost.astro'
import PostDate from '../components/PostDate.astro'
import PostTags from '../components/PostTags.astro'
import PostTitle from '../components/PostTitle.astro'
import PostFeaturedImage from '../components/PostFeaturedImage.astro'
import BlogPostsLink from '../components/BlogPostsLink.astro'
import BlogTagsLink from '../components/BlogTagsLink.astro'
import Mainvisual from '../layouts/Mainvisual.astro'
import Inner from '../layouts/Inner.astro'
import Wrapper from '../layouts/Wrapper.astro'

const [posts, rankedPosts, tags, numberOfPages] = await Promise.all([
  getPosts(NUMBER_OF_POSTS_PER_PAGE),
  getRankedPosts(),
  getAllTags(),
  getNumberOfPages(),
])
---

<Layout>
  <Mainvisual />
  <Inner>
    <div class="top-content">
      <div class="wrapper">
        <div class="side">
          <div class="side-iiner">
            <BlogTagsLink heading="Categories" tags={tags} />
          </div>
        </div>
        <div class="article">
          <ul class="article-list">
            {
              posts.length === 0 ? (
                <NoContents contents={posts} />
              ) : (
                posts.map((post) => (
                  <li class="article-item" key={post.Slug}>
                    <SinglePost post={post} />
                  </li>
                ))
              )
            }
          </ul>
        </div>
      </div>
    </div>
  </Inner>
</Layout>

<style>
  .top-content {
    display: grid;
    gap: 40px;
  }
  .wrapper {
    display: grid;
    gap: 24px;
  }
  .side-iiner {
    position: sticky;
    top: var(--headerHeight);
  }
  .article-list {
    display: grid;
    gap: 16px;
  }
  @media (min-width: 560px) {
    .article-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (min-width: 768px) {
    .article-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (min-width: 960px) {
    .wrapper {
      grid-template-columns: 160px 1fr;
    }
    .article-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (min-width: 1280px) {
    .wrapper {
      gap: 40px;
    }
  }
</style>
