---
import Layout from '../layouts/Layout.astro';
import HeroTelegram from '../components/HeroTelegram.astro';
import FeaturedNav from '../components/FeaturedNav.astro';

import FeaturedStat from '../components/FeaturedStat.astro';
import Testimonial from '../components/Testimonial.astro';
import FeaturedGeneral from '../components/FeaturedGeneral.astro';
import ClickToAction from '../components/ClickToAction.astro';
---

<Layout path="/">
	<div slot="main" class="max-w-5xl mx-auto w-full">
		<HeroTelegram />
    <FeaturedStat />
		<FeaturedNav />
    <FeaturedGeneral />
		<Testimonial />
		<ClickToAction />
	</div>
</Layout>
