---
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <div class="container">
    <main>
      <h2>Welcome!</h2>
      <p>Your astro-notion-blog deployed successfully!</p>
      <p>Have fun!</p>
    </main>
  </div>
</Layout>

<style>
  .container {
    width: 640px;
    max-width: 100%;
    margin: 0 auto;
  }

  .container > main {
    margin-bottom: 40px;
  }
  .container div:last-child {
    margin-bottom: 0;
  }

  .container h2 {
    margin: 0 0 14px;
    font-size: 1.4rem;
    font-weight: 400;
  }

  .container p {
    margin: 0.3rem auto;
    line-height: 2rem;
  }
</style>
