---
import { NUMBER_OF_POSTS_PER_PAGE } from '../server-constants.ts'
import {
  getPosts,
  getNumberOfPages,
} from '../lib/notion/client.ts'
import Layout from '../layouts/Layout.astro'
import Pagination from '../components/Pagination.astro'
import BlogSections from '../components/BlogSections/BlogSections.astro'
import Cover from '../components/Cover/HomeCover.astro';

const [posts, numberOfPages] = await Promise.all([
  getPosts(NUMBER_OF_POSTS_PER_PAGE),
  getNumberOfPages(),
])
---

<Layout title='' description='' path='/' ogImage=''>
  <div slot="main">
    <Cover />

    {<BlogSections posts={posts} />}

    <Pagination
      currentPage={1}
      numberOfPages={numberOfPages}
      tag=''
    />
  </div>
</Layout>
