---
---

<div class="pt-10 md:pt-24">
	<div class="max-w-5xl px-4 sm:px-6 lg:px-8 mx-auto pb-12">
		<div class="max-w-xl lg:max-w-4xl text-center mx-auto">
			<h1
				class="text-3xl leading-snug font-bold sm:text-6xl sm:leading-tight lg:text-7xl lg:leading-tight text-black balance"
			>
				<span
					class="relative text-blue-600 before:bg-[url('/smiling-face-with-sunglasses.svg')] before:absolute before:top-0 before:right-0 before:z-10 before:bg-[length:24px_24px] before:w-6 before:h-6 before:block before:-mr-2 before:mt-2 before:-rotate-12 sm:before:bg-[length:32px_32px] sm:before:w-8 sm:before:h-8 mr-3"
					>Gratis
				</span>bergabung dengan Diskusi Pajak
				<!-- <span class="block">di Indonesia</span> -->
			</h1><p class="mt-3 md:mt-5 md:text-lg text-zinc-600  max-w-2xl mx-auto balance font-body">
				memberikan informasi dan panduan tentang berbagai aspek peraturan dan undang-undang pajak.
			</p><!-- Buttons -->
			<div class="mt-8 grid gap-3 w-full sm:justify-center sm:inline-flex">
				<a
					class="inline-flex justify-center items-center gap-x-3 text-center bg-blue-600 hover:bg-blue-700 border border-transparent text-white text-sm font-medium rounded-md focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2 focus:ring-offset-white transition py-3 px-4 sm:text-base"
					href="https://t.me/addlist/HXeQGfBQr9ZjNzA1"
					target="_blank"
					><svg
						xmlns="http://www.w3.org/2000/svg"
						fill="currentColor"
						class="w-5 h-5"
						viewBox="0 0 16 16"
						><path
							d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-5.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"
						></path></svg
					>Gabung Grup Telegram
					<svg class="w-2.5 h-2.5" width="16" height="16" viewBox="0 0 16 16" fill="none"
						><path
							d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"></path></svg
					></a>
			</div><!-- End Buttons -->
		</div>
	</div>
</div>

<style>
	
</style>