---

---

<!-- Features -->
<div class="max-w-5xl w-full px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto font-heading">
	<!-- Title -->
    <div class="mx-auto max-w-2xl mb-8 lg:mb-14 text-center">
		<h2 class="text-3xl lg:text-4xl text-zinc-800 font-bold balance">
		  Diskusi Pajak dalam angka
		</h2>
	  </div>
	  <!-- End Title -->
	<!-- Grid -->
	<div class="mt-20 grid gap-6 grid-cols-2 sm:gap-12 lg:grid-cols-3 lg:gap-8">
		<!-- Stats -->
		<div>
			<h4 class="text-lg sm:text-xl font-semibold text-zinc-800">Telegram</h4>
			<p class="mt-2 sm:mt-3 text-4xl sm:text-6xl font-bold text-black">34.000+</p>
			<p class="mt-1 text-zinc-500">User Grup dan Channel</p>
		</div>
		<!-- End Stats -->

		<!-- Stats -->
		<div>
			<h4 class="text-lg sm:text-xl font-semibold text-zinc-800">Facebook</h4>
			<p class="mt-2 sm:mt-3 text-4xl sm:text-6xl font-bold text-black">17.000+</p>
			<p class="mt-1 text-zinc-500">User Facebook Grup dan Pages</p>
		</div>
		<!-- End Stats -->

		<!-- Stats -->
		<div>
			<h4 class="text-lg sm:text-xl font-semibold text-zinc-800">File & Slide Perpajakan</h4>
			<p class="mt-2 sm:mt-3 text-4xl sm:text-6xl font-bold text-black">1Gb++</p>
			<p class="mt-1 text-zinc-500">Dalam Sharepoint & Teams</p>
		</div>
		<!-- End Stats -->
	</div>
	<!-- End Grid -->
</div>
<!-- End Features -->
