<div class="footer-card">
  <img src="/favicon.jpg" alt="著者画像" />
  <div class="text">
    <h2>【著者】うだたつや</h2>
    <div>
      <p>
        ぐっすり眠れる睡眠アプリ
        「<a
          href="http://sheep-app.com/app"
          target="_blank"
          rel="noopener noreferrer">Sheep</a
        >」の開発者。
      </p>

      <p>
        ユーザーに愛されるサービスが好きです。
        <a
          href="https://twitter.com/u_dapon"
          target="_blank"
          rel="noopener noreferrer">Twitter</a
        >
        /
        <a
          href="https://note.com/u_dapon"
          target="_blank"
          rel="noopener noreferrer">note</a
        >
      </p>
    </div>
  </div>
</div>

<style>
  .footer-card {
    display: flex;
    align-items: center;
    background-color: rgba(233, 229, 227, 0.3);
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    gap: 20px;
  }
  .footer-card p {
    font-size: 0.75rem;
    margin: 0;
    line-height: 1.75;
    margin-bottom: 4px;
  }

  .footer-card a {
    color: #007185 !important;
    border-bottom: 1px solid #007185 !important;
    opacity: 0.7;
    padding-bottom: 2px;
    font-weight: bold;
    transition: 0.2s all;
  }
  .footer-card a:hover {
    opacity: 1;
  }

  .footer-card h2 {
    font-size: 0.9rem;
    border-bottom: none;
    margin: 0 !important;
  }
  .footer-card img {
    width: 70px;
    height: 70px;
    border-radius: 8px;
  }

  .footer-card .text {
  }
</style>
