---
// source https://tailblocks.cc/
---

<div id="footer" slot="footer">
    <div class="w-full mx-auto lg:max-w-screen-lg px-5 py-8 flex items-center sm:flex-row flex-col">
     <p class="text-sm text-gray-900 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2023 Diskusi Pajak —
        <a href="https://t.me/lesssummer" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">@lesssummer</a>
      </p>

    </div>
  </div>

  <style>
    #footer {
      grid-area: footer;
    }
  </style>