---
import { Post } from '../lib/interfaces.ts'
import { getNavLink, getPostLink } from '../lib/blog-helpers.ts'
import PostTags from './PostTags.astro'

export interface Props {
  prevPost: Post
  nextPost: Post
}

const { prevPost, nextPost } = Astro.props
---

<div>
  {
    nextPost && (
      <a href={getPostLink(nextPost.Slug)}>
        <div>次 ○ {nextPost.Title}</div>
      </a>
    )
  }
</div>
<div class='text-right'>
  {
    prevPost && (
      <a href={getPostLink(prevPost.Slug)}>
        <div>前 ○ {prevPost.Title}</div>
      </a>
    )
  }
</div>
