---
import { Post } from '../lib/interfaces.ts'

export interface Props {
  post: Post
}

const { post } = Astro.props
---
<p class="text-base text-zinc-500 leading-snug mt-2">{post.Excerpt ? post.Excerpt : ''}</p>
