---
import { Post } from '../lib/interfaces.js'
import { getUpdatedDateStr } from '../lib/blog-helpers.js'
export interface Props {
  post: Post
}

const { post } = Astro.props
---

<div class="post-date">
  {post.UpdatedDate ? getUpdatedDateStr(post.UpdatedDate) : ''}
</div>

<style>
  .post-date {
    padding: 0 0 0.3rem;
    font-size: 0.9rem;
  }
</style>
