---
import { Post } from '../lib/interfaces.ts'
import { getPostLink } from '../lib/blog-helpers.ts'

export interface Props {
  post: Post
  enableLink: boolean
}

const { post, enableLink = true } = Astro.props

let title = post.Title
---
{
  enableLink ? (    
      <h2 class="text-xl font-semibold text-heading mt-5 leading-tighter">
      <a href={getPostLink(post.Slug)}>{title}</a>   
      </h2>
  ) : (
    <>
    <h2 class="text-xl font-semibold text-heading mt-5 leading-tighter">
      {title}
    </h2>
    </>
  )
}
