---
import { Post } from '../lib/interfaces.ts'
import { filePath } from '../lib/blog-helpers'

export interface Props {
  post: Post
}

const { post } = Astro.props

let image = ''
if (post.FeaturedImage && post.FeaturedImage.Url) {
  if (import.meta.env.DEV) {
    image = post.FeaturedImage.Url
  } else {
    image = filePath(new URL(post.FeaturedImage.Url))
  }
}
---

{
  image && (
    <div class="post-featured-image">
      <img src={image} alt="Featured image of the post" />
    </div>
  )
}

<style>
  .post-featured-image {
    width: 100%;
  }
  .post-featured-image img {
    aspect-ratio: 16/9;
    object-fit: cover;
    width: 100%;
  }
</style>
