---
import { Post } from '../lib/interfaces.ts'
import { filePath } from '../lib/blog-helpers'
import { getPostLink } from '../lib/blog-helpers.ts'

export interface Props {
  post: Post
  enableLink: boolean
}

const { post, enableLink = true } = Astro.props

let image = ''
if (post.FeaturedImage && post.FeaturedImage.Url) {
  if (import.meta.env.DEV) {
    image = post.FeaturedImage.Url
  } else {
    image = filePath(new URL(post.FeaturedImage.Url))
  }
}
---

{
  image &&
    enableLink ? (
    <div class="post-featured-image">
      <a href={getPostLink(post.Slug)}>
        <img src={image} alt="Featured image of the post" />
      </a>
    </div>
  ) : (
    <div class="post-featured-image">
      <img src={image} alt="Featured image of the post" />
    </div>
    )
}

<style>
  .post-featured-image {
    padding: 0.6rem 0 0.2rem;
  }
  .post-featured-image img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 12rem;
  }
</style>
