---
import { Post } from '../lib/interfaces.ts'
import { filePath } from '../lib/blog-helpers'

export interface Props {
  post: Post
}

const { post } = Astro.props

let image = ''
if (post.FeaturedImage && post.FeaturedImage.Url) {
  if (import.meta.env.DEV) {
    image = post.FeaturedImage.Url
  } else {
    image = filePath(new URL(post.FeaturedImage.Url))
  }
}
---

{
  image ? (
    <div class="post-featured-image">
      <img src={image} alt="Featured image of the post" />
    </div>
):
    <div class="post-featured-image">
      <img src="/default-og-image.png" alt="Default image" />
    </div>
}

<style>
  .post-featured-image {
    padding: 0 0 0.2rem;
    max-width:25%;
    min-width:10rem;
  }
  .post-featured-image img {
    display: block;
    aspect-ratio: 16/9;
    object-fit: cover;
    width: 100%;
  }
  .post {
    margin: 0 auto 40px;
  }
</style>
