---
import { Post } from '../lib/interfaces.ts'
import { getDateStr } from '../lib/blog-helpers.ts'

export interface Props {
  post: Post
  className?: string
}

const { post, className } = Astro.props
---

<div class={className}>
  {post.Date ? getDateStr(post.Date) : ''}
</div>
