---
import { Block } from '../lib/interfaces.ts'
import NotionBlocks from './NotionBlocks.astro'

export interface Props {
  blocks: Block[]
}

const { blocks } = Astro.props
---

<div class='p-4 leading-loose tracking-wider space-y-4'>
  <NotionBlocks blocks={blocks} isRoot={true} />
</div>
