---
import { Block } from '../lib/interfaces.ts'
import NotionBlocks from './NotionBlocks.astro'

export interface Props {
  blocks: Block[]
}

const { blocks } = Astro.props
---

<div class="post-body">
  <NotionBlocks blocks={blocks} isRoot={true} />
</div>

<style>
  .post-body {
    border-top: 1px solid #f5f5f5;
    margin-top: 40px;
    padding-top: 40px;
  }
</style>
