---
import { Post } from '../lib/interfaces.ts'
import { filePath } from '../lib/blog-helpers'

export interface Props {
  post: Post
}

const { post } = Astro.props

let image = ''
if (post.FeaturedImage && post.FeaturedImage.Url) {
  if (import.meta.env.DEV) {
    image = post.FeaturedImage.Url
  } else {
    image = filePath(new URL(post.FeaturedImage.Url))
  }
}
---

{
  image && (
    <div class="rounded-lg border border-zinc-200 h-40 overflow-hidden">
      <img alt="content" class="object-cover object-center h-full w-full hover:scale-125 transition delay-300 duration-300 ease-in-out" src={image}>
    </div>
  )
}
