---
import { Post } from '../lib/interfaces.ts'
import { getDateStr } from '../lib/blog-helpers.ts'

export interface Props {
  post: Post
}

const { post } = Astro.props
---

<div class="post-date">
  {post.Date ? getDateStr(post.Date) : ''}
</div>

<style>
  .post-date {
    padding: 0 0 0.3rem;
    font-size: 0.9rem;
  }
</style>
