---
import { Post } from '../lib/interfaces.ts'
import { getPostLink } from '../lib/blog-helpers.ts'

export interface Props {
  post: Post
  enableLink: boolean
}

const { post, enableLink = true } = Astro.props

let title = post.Title
---

<h2 class="text-lg font-semibold text-heading mt-5 leading-tighter">
      <a href={getPostLink(post.Slug)}>{title}</a>   
</h2>

