---
import { Post } from '../lib/interfaces.ts'
import { filePath } from '../lib/blog-helpers'
import { getPostLink } from '../lib/blog-helpers' 
// この行を追加
export interface Props {
  post: Post
}

const { post } = Astro.props

let image = ''
if (post.FeaturedImage && post.FeaturedImage.Url) {
  if (import.meta.env.DEV) {
    image = post.FeaturedImage.Url
  } else {
    image = filePath(new URL(post.FeaturedImage.Url))
  }
}
---

{
  image && (
    <div class="post-featured-image">
      <a href={getPostLink(post.Slug)}>
        <img src={image} alt="Featured image of the post" />
      </a>
    </div>
  )
}

<style>
  .post-featured-image {
    padding: 0.6rem 0 0.2rem;
    float: left; /* 画像を左に浮かせる */
    margin-right: 1rem; /* タイトルとの間にスペースを作る */
    max-width: 30%; /* 画像の幅を調整 */
  }
  .post-featured-image img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .post-featured-image img:hover {
  cursor: url('src\images\magnifying_glass.svg'), zoom-in;
}

  /* モバイル表示時の画像サイズ設定 */
  @media (max-width: 430px) {
    .post-featured-image {
      float: none; /* 画像を左に浮かせない */
      margin-right: 0; /* タイトルとの間にスペースを作らない */
      max-width: 100%; /* 画像の幅を調整 */
    }
  }
</style>