---
import { Post } from '../lib/interfaces.ts'
import { getDateStr } from '../lib/blog-helpers.ts'
import { getUpdatedDateStr } from '../lib/blog-helpers.js'

export interface Props {
  post: Post
}

const { post } = Astro.props
const postDate = getDateStr(post.Date)
const updatedDate = post.UpdatedDate ? getUpdatedDateStr(post.UpdatedDate) : null
---

<div class="post-date">
  投稿日:{postDate}
  {updatedDate && <div>／更新日:{updatedDate}</div>}
</div>

<style>
  .post-date {
    margin-left: 0.9rem;
    padding: 0 0 0.3rem;
    font-size: 0.9rem;
    display:flex;
    align-items: center;
  }
  .updateddate{
    margin-left: 0.9rem;
  }
  img {
    width: 0.9rem;
    height: 0.9rem;
  }
</style>
