---
import { Post } from "../lib/interfaces.ts";
import { getPostLink } from "../lib/blog-helpers.ts";

export interface Props {
  post: Post;
}

const { post } = Astro.props;
---

<div class="read-more-link">
  <a href={getPostLink(post.Slug)}>Read more</a>
</div>

<style>
  .read-more-link {
    color: var(--fg);
  }
  .read-more-link a {
    display: block;
    padding: 0 8rem;
    margin: 1rem auto 0;
    border: 3px solid rgb(250, 187, 200);
    color: rgb(255, 116, 144);
    font-weight: bolder;
    font-size: 1rem;
    text-align: center;
    line-height: 3rem;
    background-color: rgba(253, 223, 223, 0.736);
    white-space: nowrap;
  }
  .read-more-link a:hover {
    background-color: rgb(229, 255, 197);
    border: 5px solid rgb(186, 227, 181);
  }
  @media (max-width: 640px) {
  }
</style>
