---

---

<header>
    <link
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        rel="stylesheet"
    />
</header>
<div class="panel">
    <h2>Links</h2>
    <h3>Posting</h3>
    <div class="flex justify-left flex-wrap space-x-4">
        <a
            href="https://www.nicovideo.jp/user/42022149/series/218454"
            target="_blank"
            class="icon"
        >
            <img src="nc296561.png" alt="NicoNico" />
            <span class="sr-only">NicoNico</span>
        </a>
        <a
            href="https://www.youtube.com/c/Massbox"
            target="_blank"
            class="icon"
            style="color: #FF0000;"
        >
            <i class="fab fa-youtube"></i>
            <span class="sr-only">YouTube</span>
        </a>

        <a
            href="https://soundcloud.com/mass-dtm"
            target="_blank"
            class="icon"
            style="color: #FF8800;"
        >
            <i class="fab fa-soundcloud"></i>
            <span class="sr-only">SoundCloud</span>
        </a>
    </div>
    <h3>Physical</h3>
    <div class="flex justify-center flex-wrap space-x-4">
        <a href="https://mass-box.booth.pm" target="_blank" class="icon">
            <img src="logo_icon_r.png" alt="BOOTH" />
            <span class="sr-only">BOOTH</span>
        </a>
    </div>
    <h3>Streaming</h3>
    <div class="flex justify-center flex-wrap space-x-4">
        <a
            href="https://music.apple.com/jp/artist/mass/1483963744"
            target="_blank"
            class="icon"
        >
            <i class="fa-brands fa-itunes" style="color: #fa2d48;"></i>
            <span class="sr-only">Spotify</span>
        </a>
        <a
            href="https://music.youtube.com/playlist?list=PLnQxkSmdS_FuCNhliNxtS-k_aS3WCtjf-&si=0xA90y8R0c2koybF"
            target="_blank"
            class="icon"
        >
            <img src="app_icon_music_192.svg" alt="YouTube Music" />
            <span class="sr-only">YouTube Music</span>
        </a>
        <a
            href="https://open.spotify.com/intl-ja/artist/4ST3gigKteqEC6jRwjmssC?si=bX18UMMYThmSnOQHsKCDYA"
            target="_blank"
            class="icon"
        >
            <i class="fa-brands fa-spotify" style="color: #1db954;"></i>
            <span class="sr-only">Spotify</span>
        </a>
        <a
            href="https://music.amazon.co.jp/artists/B0CHQDLQWS/mass"
            target="_blank"
            class="icon"
        >
            <i class="fa-brands fa-amazon"></i>
            <span class="sr-only">Spotify</span>
        </a>
    </div>
    <h3>DL</h3>
    <div class="flex justify-center flex-wrap space-x-4">
        <a
            href="https://music.apple.com/jp/artist/mass/1483963744"
            target="_blank"
            class="icon"
        >
            <i class="fa-brands fa-itunes" style="color: #fa2d48;"></i>
            <span class="sr-only">iTunes</span>
        </a>
        <a
            href="https://massbox.bandcamp.com"
            target="_blank"
            class="icon"
            style="color: #00FFFF;"
        >
            <i class="fab fa-bandcamp"></i>
            <span class="sr-only">Bandcamp</span>
        </a>
        <a href="https://mora.jp/artist/1943517/" target="_blank" class="icon">
            <img src="mora_a1.png" alt="Mora" />
            <span class="sr-only">Mora</span>
        </a>
    </div>
    <h3>SNS</h3>
    <a href="https://twitter.com/Mass_DTM" target="_blank" class="icon">
        <i class="fab fa-x-twitter"></i>
        <span class="sr-only">Twitter</span>
    </a>

    <style>
        body {
            background-color: white;
            color: #4a4a4a;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .dark-mode body {
            background-color: #1a1a1a;
            color: #d1d1d1;
        }
        .panel {
            background-color: white;
            margin-bottom: 1rem;
            padding-bottom: 1.25rem;
        }
        .dark-mode .panel {
            background-color: #2d2d2d;
        }
        .text-center {
            text-align: center;
        }
        .text-xl {
            font-size: 1.25rem;
        }
        .font-bold {
            font-weight: bold;
        }
        .flex {
            display: flex;
        }
        .justify-left {
            justify-content: left;
        }
        .flex-wrap {
            flex-wrap: wrap;
        }
        .space-x-4 > *:not(:last-child) {
            margin-right: 1rem;
        }
        .icon {
            font-size: 2rem;
            color: #4a4a4a;
            text-decoration: none;
        }
        .icon:hover {
            color: #2d2d2d;
        }
        .dark-mode .icon {
            color: #d1d1d1;
        }
        .dark-mode .icon:hover {
            color: #b3b3b3;
        }
        .icon img {
            height: 2rem;
            width: auto;
            margin-top: 0.4rem;
        }
    </style>
</div>
