---
import tweet from "/tweet.svg";
---

<div class="twitterTimeline">
  <div
    style={{
      justifyContent: "start",
      display: "flex",
      flexWrap: "wrap",
    }}
  >
    <h3 style={{ margin: "auto 0" }}>Twitter TL</h3>
    <img src={tweet} width={80} height={80} alt="tweet" />
  </div>
  <a
    class="twitter-timeline"
    data-lang="ja"
    data-width="500"
    data-height="500"
    data-chrome="nofooter,transparent,noheader"
    href="https://twitter.com/mineral_30?ref_src=twsrc%5Etfw"
    >Tweets by mineral_30</a
  >
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"
  ></script>
</div>

<style>
  .twitterTimeline {
  }
</style>
