<img src="/favicon.jpg" alt="プロフィール画像" class="top-profile" />
<h1>うだたつや</h1>
<p>
  ぐっすり眠れる睡眠アプリの<a
    href="https://sheep-app.com/app"
    target="_blank"
    rel="noopener noreferrer">Sheep</a
  >を開発しています。ユーザーに愛されるサービスが好きです。
</p>

<h2>プロフィール</h2>
<p>
  宇田龍矢。1998年生まれ。愛知県出身。2017年信州大学繊維学部に入学。2018年から株式会社rentryにてレンタルEC事業の立ち上げ。2020年に睡眠アプリのSheepを開発。
</p>

<h3>経歴</h3>
<div class="table astro-ZUD5USDI">
  <table>
    <tbody>
      <tr>
        <th> 年/月</th><th> 説明</th>
      </tr>
      <tr>
        <td> 2020/10</td><td> 睡眠アプリのSheepを開発</td>
      </tr>
      <tr>
        <td> 2018/03</td><td> 株式会社rentry CTO</td>
      </tr>
      <tr>
        <td> 2017/04</td><td> 信州大学に入学</td>
      </tr>
      <tr>
        <td> 1998/10</td><td> 愛知県名古屋市生まれ</td>
      </tr>
    </tbody>
  </table>
</div>

<style>
  .top-profile {
    width: 130px;
    height: 130px;
    object-fit: cover;
    margin-top: -170px;
    position: absolute;
  }

  h1 {
    margin-top: 80px;
    color: var(--fg);
    line-height: 1.3;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
    padding-bottom: 0.5rem;
  }

  table {
    width: 100%;
  }
</style>
