---
import BlogSection from './BlogSection.astro';
import { type Post } from '../../lib/interfaces';

export interface Props {
  posts: Post[];
}

const { posts } = Astro.props;
---

<!-- Card Blog -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <!-- Grid -->
  <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6">
    {posts.map((post) => (
      <BlogSection post={post} />
    ))}
  </div>
  <!-- End Grid -->
</div>
<!-- End Card Blog -->
