---

---

<div class="inner">
  <slot />
</div>

<style>
  .inner {
    background-color: #fff;
    border-radius: 16px;
    margin-block: calc(var(--mvHeight) - 16px) calc(var(--footerHeight) - 16px);
    padding-block: 80px;
    padding-inline: var(--paddingInner);
    width: 100%;
  }
</style>