---

---

<div class="mv">
  <div class="mv-copy">
    <h1 class="mv-ttl">HRK++</h1>
    <p class="mv-lead">Web制作の日々の学びの記録</p>
  </div>
  <div class="mv-image">
    <img src="../../src/images/mv2.jpg" alt="" />
  </div>
</div>

<style>
  .mv {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -2;
  }
  .mv-copy {
    color: #fff;
    display: grid;
    gap: 24px;
    padding-inline: var(--paddingInner);
    position: absolute;
    bottom: 80px;
    width: 100%;
  }
  .mv-ttl {
    font-size: 80px;
    line-height: 1;
  }
  .mv-lead {
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
  }
  .mv-image {
    height: var(--mvHeight);
  }
  img {
    aspect-ratio: 16/9;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
  @media (min-width: 768px) {
    .mv-copy {
      align-items: flex-end;
      grid-template-columns: repeat(2,auto);
      justify-content: space-between;
    }
  }
</style>
