name: Format

on:
  push:
    branches:

jobs:
  format:
    name: Prettier
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 18.x

      - name: Run format
        run: npm run format

      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Format by GitHub Actions
